.page-main {
  @include pxRem(padding, 30 0);
  min-height: 80vh;
}

.banner-title {
  color: map-get($map: $colors, $key: white);
  text-transform: uppercase;
}

.container-content {
  max-width: 1200px;
  margin: auto;
  height: 100%;
}

.button-banner {
  border: none;
  cursor: pointer;
  height: 50px;
  width: 150px;
  font-size: 16px;
}

.card-course {
  height: 300px;
  width: 370px;
  background-repeat: no-repeat;
  position: relative;
  .content-card {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
    .sub-course {
      color: map-get($map: $colors, $key: white);
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;

    }
    .title-course {
      color: map-get($map: $colors, $key: white);
      font-size: 35px;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.item-color {
  margin: 10px 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -moz-border-radius:50%;
  -webkit-border-radius: 50%;
  cursor: pointer;
}

@mixin content-details {
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  .sub-title {
    @extend .banner-title;
  }
  .title {
    @extend .banner-title;
    font-size: 50px;
  }
  .banner-btn {
    .btn-shopnow {
      @extend .button-banner;
      background-color: map-get($map: $colors, $key: button-orange);
      color: map-get($map: $colors, $key: white);
    }
    .btn-viewlook {
      @extend .button-banner;
      background-color: map-get($map: $colors, $key: white);
      color: map-get($map: $colors, $key: txt-black);
    }
    .btn-viewlook:hover {
      opacity: .8;
    } 
    .btn-shopnow:hover {
      opacity: .8;
    }
  }
}

@mixin card-content {
  .title-card {
    display: block;
    text-align: center;
    color: map-get($map: $colors, $key: txt-black);
    margin: 10px 0;
    font-size: 16px;
  }
  .price-card {
    display: block;
    text-align: center;
    color: map-get($map: $colors, $key: txt-gray-price);
  }
  .list-color {
    @extend .container-flex;
    justify-content: center;

    .item-color1 {
      @extend .item-color;
      background-color: map-get($map: $colors, $key: black);
    }
    .item-color2 {
      @extend .item-color;
      background-color: map-get($map: $colors, $key: border-pink);
    }
    .item-color3 {
      @extend .item-color;
      background-color: map-get($map: $colors, $key: brand-js);
    }
  }
}

@mixin  header_content_section {
  padding: 20px 0;
      // border-bottom: 1px solid map-get($map: $colors, $key: bg-gray2);
      .content-selling {
        .title-selling {
          text-align: center;
          text-transform: uppercase
        }
        .icon {
          @extend .container-flex;
          justify-content: center;
          span {
            width: 24px;
            height: 1px;
            display: inline-block;
            background-color: map-get($map: $colors, $key: bg-gray2);
            margin: 0 5px;
          }
          .bx-dumbbell {
            font-size: 25px;
            color: map-get($map: $colors, $key: bg-gray2);
          }
        }
        .subtitle-selling {
          text-align: center;
          display: block;
          color: map-get($map: $colors, $key: txt-gray);
          font-size: 14px;
          font-weight: map-get($map: $font-weight, $key: normal);
          letter-spacing: 0.5px;
          white-space: pre-line;
        }
      }
}

main {
  .banner-section {
    width: 100%;
    background-image: url("/image/slide-01.jpg");
    height: 800px;
    background-position: center center;
    position: relative;
    .container-content {
      .content-details {
        @include content-details;
      }
    }
  }
  .course-type {
    margin: 30px 0;
    .container-content {
      .list-card-course {
        display: flex;
        justify-content: space-between;
        .card-course1 {
          background-image: url("/image/banner-collection-01.jpg");
          @extend .card-course
        }
        .card-course2 {
          background-image: url("/image/banner-collection-02.jpg");
          @extend .card-course
        }
        .card-course3 {
          background-image: url("/image/banner-collection-03.jpg");
          @extend .card-course
        }

      }
   
    }
  }
  .type-tab-collection {
    .container-content {
      .tab-collection {
        .list-tab {
          text-align: center;
          .item-tag {
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
            color: map-get($map: $colors, $key: txt-gray);
            font-weight: 500;
            .link-tag  {
              padding: 0 15px;
            }
            .link-tag:hover {
              border-bottom: 2px solid map-get($map: $colors, $key:border-pink);
            }
            .active {
              border-bottom: 2px solid map-get($map: $colors, $key:border-pink);
            }
            }   
        }
      }
      .list-card-collection {
        @extend .container-flex;
        .content-collection {
          @include card-content;
        }
      }
    }
  }
  .banner-section2 {
    width: 100%;
    background-image: url("/image/full-width-banner-desktop.jpg");
    height: 500px;
    margin: 20px 0;
    position: relative;
    .container-content {
      .content-details {
       @include content-details;
      }
    }
  }
  .selling-section {
    margin: 50px 0;
    .container-content {
      @include header_content_section;
      }
      .collection {
        .list-card-collection {
          display: flex;
          flex-wrap: wrap;
          .card-collection {
            width: 25%;
            padding: 0 10px;
            .content-collection {
              @include card-content;
            }
          }
        }
      }
    }
    .lastnew-section {
      .container-content {     
        @include header_content_section;
        .list-blog {
          display: flex;
          flex-wrap: wrap;
          .item-blog {
            width: 33.33%;
            padding: 10px;
            .post-info {
              margin-bottom: 15px;
              .post-title {
                color: map-get($map: $colors, $key: border-black);
                margin: 10px 0;
                font-size: 20px;
                font-weight: map-get($map: $font-weight, $key: medium);

              }
              .post-time {
                color: map-get($map: $colors, $key: txt-gray);
                time {
                  color: map-get($map: $colors, $key: border-black);
                  font-weight: map-get($map: $font-weight, $key: normal);
                }
              }
            }
            .post-content {
              color: map-get($map: $colors, $key: txt-gray);
              font-size: $font-size-lg;
              line-height: 2rem;
            }
          }
        }
      }
    }
    .line-section {
      .container-content-line {
        @extend .container-content;
        max-width: 1200px;
        margin: auto;
        padding: 0 15px;
        .line-break-page {
          display: block;
          margin: 55px 0;
          border: 0;
          border-bottom: 1px solid #e8e9eb;
        } 
      }
    }
    .type-shipping {
      .container-content {
        .list-type {
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          .item-type {
            width: 33.33%;
            .icon-truck {
              font-size: 35px;
              margin: 10px 0;
              color: map-get($map: $colors, $key: txt-orange);
            }
            h3 {
              font-size: $font-size-base;
              font-weight: map-get($map: $font-weight, $key: normal);
              padding: 10px 0;
            }
            p {
              color: map-get($map: $colors, $key: txt-gray);
              font-size: $font-size-base;
            }
          }
        }
      }
    } 
}